{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>NOTES-FINDER </title>
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.png' %}"/>
<!--

Lava Landing Page

https://templatemo.com/tm-540-lava-landing-page

-->
    
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-lava.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    
                    <nav class="main-nav" >
                        <!-- ***** Logo Start ***** -->
                        
                        <h1 style="float:left"><a href="{% url 'home' %}" class="logo">
                          <strong>  NOTES-<span style="color:#fba70b" >FINDER</span></strong>
                        </a></h1>
                        

                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav" style="float:right">
                            <li class="scroll-to-section"><a href="#welcome" class="menu-item"><b> Home</b></a></li>
                            <li class="scroll-to-section"><a href="#about" class="menu-item"><b>About</b></a></li> 
                            
                            <li class="submenu">
                                {% comment %} <a href="javascript:;"><b>Notes</b></a>
                                <ul>
                                    <li><a href="{% url "ai" %}" class="menu-item">Artificial Intelligence</a></li>
                                    <li><a href="{% url "java" %}" class="menu-item">JAVA Programming</a></li>
                                    <li><a href="{% url "se" %}" class="menu-item">Software Engineering</a></li>
                                    <li><a href="{% url "ime" %}" class="menu-item">Intro to Management</a></li>
                                    <li><a href="{% url "pd" %}" class="menu-item">Personality Dev</a></li>
                                    <li><a href="{% url "dm" %}" class="menu-item">Digital Marketing</a></li> 
                                    

                                </ul> {% endcomment %}
                                <div class="dropdown">
                                    
                                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     <strong> Notes</strong>
                                    </button>
                                    {% comment %} <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> {% endcomment %}
                                        <ul>
                                            <li><a class="dropdown-item" href=" {% url "ai" %} ">Artificial Intelligence</a></li>
                                            <li><a class="dropdown-item" href="{% url "java" %}">JAVA Programming</a></li>
                                            <li><a class="dropdown-item" href="{% url "se" %}">Software Engineering</a></li>
                                            <li><a class="dropdown-item" href=" {% url "ime" %} ">Intro to Management</a></li>
                                            <li><a class="dropdown-item" href=" {% url "pd" %} ">Personality Development</a></li>
                                            <li><a class="dropdown-item" href=" {% url "dm" %} ">Digital Marketing</a></li>
                                            <li><a class="dropdown-item" href=" {% url "ds" %} ">Data Science</a></li>
                                            <li><a class="dropdown-item" href=" {% url "sd" %} ">Software Development</a></li>
                                            <li><a class="dropdown-item" href=" {% url "ns" %} ">Network Security</a></li>

                                        
                                        </ul>
                                    {% comment %} </div> {% endcomment %}
                                </div>
                            </li>
                            <li class="scroll-to-section"><a href="#contact-us" class="menu-item"><b>Contact Us</b></a></li>
                        </ul>
                        <a class='menu-trigger' data-bs-toggle="dropdown">
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <img src="{% static 'assets/images/hero.png' %}" class="rounded img-fluid d-lg-block mx-auto d-sm-none" style="height: 90vh;object-fit: cover;width: 50vw;position: absolute;top: 0;right:0;" alt="App">

        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="d-lg-none col-md-12 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="{% static 'assets/images/hero.png' %}" class="rounded img-fluid d-block mx-auto" style="height: 100vh;object-fit: contain;" alt="App">
                </div>
                    <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>Find your <em>NOTES</em> here</h1>
                        <p>Here in <a href="#about">NOTE-FINDER</a> we will be uploading notes of every subject of  BCA 4th semester. Currently this website is only for students of <b> BCA 4th sem</b> . We are working on the site, so that it can cater to the students of every semester.</p>
                        <a href="#about" class="main-button-slider">click  here for   NOTES</a>
  
                    </div>
                    
                </div>
            </div>
            
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            {% comment %} <h2>01</h2> {% endcomment %}
                            <img src="{% static 'assets/images/icons8-java-60.png' %}" alt="">
                            <h4>JAVA Programming</h4>
                            <p> Making JAVA programming easy.</p>
                            <a href="{% url 'java'%}" class="main-button">
                                OPEN
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            {% comment %} <h2>01</h2> {% endcomment %}
                            <img src="{% static 'assets/images/icons8-entrepreneur-64.png' %}" alt="">
                            <h4>Intro to Management</h4>
                            <p>Click here to know more management skills.</p>
                            <a href="{% url 'ime'%}" class="main-button">
                                OPEN
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            {% comment %} <h2>01</h2> {% endcomment %}
                            <img src="{% static 'assets/images/features-icon-5.png' %}" alt="">
                            <h4>Digital Marketing</h4>
                            <p> Exploring the future.</p>
                            <a href="{% url 'dm'%}" class="main-button">
                                OPEN
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            {% comment %} <h2>02</h2> {% endcomment %}
                            <img src="{% static 'assets/images/features-icon-8.png' %}" alt="">
                            <h4>Personality Development</h4>
                            <p>Smart working than hard working.</p>
                            <a href="{%url 'pd'%}" class="main-button">
                                OPEN
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            {% comment %} <h2>03</h2> {% endcomment %}
                            <img src="{% static 'assets/images/features-icon-7.png' %}" alt="">
                            <h4>Software Engineering</h4>
                            <p>Learn Software Softly.</p>
                            <a href="{% url 'se'%}" class="main-button">
                                OPEN
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            {% comment %} <h2>01</h2> {% endcomment %}
                            <img src="{% static 'assets/images/features-icon-4.png' %}" alt="">
                            <h4>Artificial Intelligence</h4>
                            <p>Learn the real intelligence in an artificial way.</p>
                            <a href="{% url 'ai'%}" class="main-button">
                                OPEN
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            {% comment %} <h2>01</h2> {% endcomment %}
                            <img src="{% static 'assets/images/ds.png' %}" alt="">
                            <h4>Data Science</h4>
                            <p>Bringing data and science together.</p>
                            <a href="{% url 'ds'%}" class="main-button">
                                OPEN
                            </a>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            {% comment %} <h2>01</h2> {% endcomment %}
                            <img src="{% static 'assets/images/sd1.png' %}" alt="">
                            <h4>Software Development</h4>
                            <p>Working for the next gen.</p>
                            <a href="{% url 'ds'%}" class="main-button">
                                OPEN
                            </a>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            {% comment %} <h2>01</h2> {% endcomment %}
                            <img src="{% static 'assets/images/ns.png' %}" alt="">
                            <h4>Network Security</h4>
                            <p>Securing the work through network.</p>
                            <a href="{% url 'ns'%}" class="main-button">
                                OPEN
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <div class="left-image-decor"></div>

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="promotion">
        <div class="container">
            <div class="row">
                <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="{% static 'assets/images/about.jpeg' %}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                    <ul>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                            <img src="{% static 'assets/images/features-icon-1.png' %}" alt="">
                            <div class="text">
                                <h4>Vision</h4>
                                <p>Making the site more scalable for all the student of BCA</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
                            <img src="{% static 'assets/images/features-icon-8.png' %}" alt="">
                            <div class="text">
                                <h4>Our Belief</h4>
                                <p>One stop solution for all your study related needs.</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
                            <img src="{% static 'assets/images/features-icon-3.png' %}" alt="">
                            <div class="text">
                                <h4>Contact US</h4>
                                <p>Have doubts ? scroll down below to messsage us so that we can solve your queries.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <div class="right-image-decor"></div>

    <!-- ***** Testimonials Starts ***** -->
    {% comment %} <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="center-heading">
                        <h2>What They Think <em>About Us</em></h2>
                        <p>Suspendisse vitae laoreet mauris. Fusce a nisi dapibus, euismod purus non, convallis odio.
                            Donec vitae magna ornare, pellentesque ex vitae, aliquet urna.</p>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="owl-carousel owl-theme">
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="{% static 'assets/images/testimonial-author-1.png' %}" alt="Author One"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>Jonathan Smart</h4>
                                <p>“Nullam hendrerit, elit a semper pharetra, ipsum nibh tristique tortor, in tempus
                                    urna elit in mauris.”</p>
                                <span>Besta CTO</span>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="{% static 'assets/images/testimonial-author-1.png' %}" alt="Second Author"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>Martino Tino</h4>
                                <p>“Morbi non mi luctus felis molestie scelerisque. In ac libero viverra, placerat est
                                    interdum, rhoncus leo.”</p>
                                <span>Web Analyst</span>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="{% static 'assets/images/testimonial-author-1.png' %}" alt="Author Third"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>George Tasa</h4>
                                <p>“Fusce rutrum in dolor sit amet lobortis. Ut at vehicula justo. Donec quam dolor,
                                    congue a fringilla sed, maximus et urna.”</p>
                                <span>System Admin</span>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="{% static 'assets/images/testimonial-author-1.png' %}" alt="Fourth Author"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>Sir James</h4>
                                <p>"Fusce rutrum in dolor sit amet lobortis. Ut at vehicula justo. Donec quam dolor,
                                    congue a fringilla sed, maximus et urna."</p>
                                <span>New Villager</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}
    <!-- ***** Testimonials Ends ***** -->


    <!-- ***** Footer Start ***** -->
    <footer id="contact-us">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <!-- ***** Contact Form Start ***** -->
                    <div class="col-lg-6 col-md-12 col-sm-12">

                        <div class="contact-form">
                            {% for msg in messages %}
                            <div class="alert alert-info alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{msg}}
                              </div>
                                    
                            {% endfor %}
                            <form id="contact" action="" method="POST">
                                {% csrf_token %}
                                
                                <div class="row">
                                    
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="inputname" type="text" id="name" placeholder=" Your Full Name" required=""
                                                style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="inputemail" type="text" id="email" placeholder=" Your E-Mail "
                                                required="" style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="inputmessage" rows="6" id="message" placeholder="Your Message"
                                                required="" style="background-color: rgba(250,250,250,0.3);"></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-button">Send Message
                                                Now</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- ***** Contact Form End ***** -->
                    <div class="right-content col-lg-6 col-md-12 col-sm-12">
                        <h2>Contact <em>NOTES-FINDER</em></h2>
                        <p>If you have  any queries or just want to get in touch, use the form above.
                            We are looking forward to make this site immensely useful !.
                            <br><br>Made with sheer perseverance by-  <br><u> PRANJAL TIWARI</u></p>
                            <ul class="social">
                                <li><a href="https://www.instagram.com/tiwari_pranjal2911/"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://github.com/pranjaltiwari029"><i class="fa fa-github"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/pranjal-tiwari-343952269/"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.facebook.com/pranjal.tiwari.900"><i class="fa fa-facebook"></i></a></li>
                                
                                
                                
                            </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src=" {% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

</body>
</html>